.bracket-region__left {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr 1fr 8fr 1fr 8fr;
  grid-template-rows: 1.75fr repeat(17, 1fr);
  grid-template-areas: 'region region region region region region region'
    'round1 . round2 . round3 . round4'
    'game1 . . . . . .'
    'game1 link1to9 game9 . . . .'
    'game2 link2to9 game9 link9to13 . . .'
    'game2 . . link9to13 game13 . .'
    'game3 . . link10to13 game13 link13to15 .'
    'game3 link3to10 game10 link10to13 . link13to15 .'
    'game4 link4to10 game10 . . link13to15 .'
    'game4 . . . . link13to15 game15'
    'game5 . . . . link14to15 game15'
    'game5 link5to11 game11 . . link14to15 .'
    'game6 link6to11 game11 link11to14 . link14to15 .'
    'game6 . . link11to14 game14 link14to15 .'
    'game7 . . link12to14 game14 . .'
    'game7 link7to12 game12 link12to14 . . .'
    'game8 link8to12 game12 . . . .'
    'game8 . . . . . .';
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  text-align: left;
}

.bracket-region__right {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr 1fr 8fr 1fr 8fr;
  grid-template-rows:  1.75fr repeat(17, 1fr);
  grid-template-areas: 'region region region region region region region'
    'round4 . round3 . round2 . round1'
    '. . . . . . game1'
    '. . . . game9 link1to9 game1'
    '. . . link9to13 game9 link2to9 game2'
    '. . game13 link9to13 . . game2'
    '. link13to15 game13 link10to13 . . game3'
    '. link13to15 . link10to13 game10 link3to10 game3'
    '. link13to15 . . game10 link4to10 game4'
    'game15 link13to15 . . . . game4'
    'game15 link14to15 . . . . game5'
    '. link14to15 . . game11 link5to11 game5'
    '. link14to15 . link11to14 game11 link6to11 game6'
    '. link14to15 game14 link11to14 . . game6'
    '. . game14 link12to14 . . game7'
    '. . . link12to14 game12 link7to12 game7'
    '. . . . game12 link8to12 game8'
    '. . . . . . game8';
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  text-align: right;
}


.region {
  grid-area: region;
  padding-bottom: 4px;
}
.round1 {
  grid-area: round1;
}
.round2 {
  grid-area: round2;
}
.round3 {
  grid-area: round3;
}
.round4 {
  grid-area: round4;
}
.game1 {
  grid-area: game1;
}
.game2 {
  grid-area: game2;
}
.game3 {
  grid-area: game3;
}
.game4 {
  grid-area: game4;
}
.game5 {
  grid-area: game5;
}
.game6 {
  grid-area: game6;
}
.game7 {
  grid-area: game7;
}
.game8 {
  grid-area: game8;
}
.game9 {
  grid-area: game9;
}
.game10 {
  grid-area: game10;
}
.game11 {
  grid-area: game11;
}
.game12 {
  grid-area: game12;
}
.game13 {
  grid-area: game13;
}
.game14 {
  grid-area: game14;
}
.game15 {
  grid-area: game15;
}
.link1to9 {
  grid-area: link1to9;
}
.link2to9 {
  grid-area: link2to9;
}
.link3to10 {
  grid-area: link3to10;
}
.link4to10 {
  grid-area: link4to10;
}
.link5to11 {
  grid-area: link5to11;
}
.link6to11 {
  grid-area: link6to11;
}
.link7to12 {
  grid-area: link7to12;
}
.link8to12 {
  grid-area: link8to12;
}
.link9to13 {
  grid-area: link9to13;
}
.link10to13 {
  grid-area: link10to13;
}
.link11to14 {
  grid-area: link11to14;
}
.link12to14 {
  grid-area: link12to14;
}
.link13to15 {
  grid-area: link13to15;
}
.link14to15 {
  grid-area: link14to15;
}

.bracket-region__left .link1to9,
.bracket-region__left .link3to10,
.bracket-region__left .link5to11,
.bracket-region__left .link7to12,
.bracket-region__left .link9to13,
.bracket-region__left .link11to14,
.bracket-region__left .link13to15 {
  border-left: 4px solid #546e7a;
  border-bottom: 2px solid #546e7a;
}

.bracket-region__left .link2to9,
.bracket-region__left .link4to10,
.bracket-region__left .link6to11,
.bracket-region__left .link8to12,
.bracket-region__left .link10to13,
.bracket-region__left .link12to14,
.bracket-region__left .link14to15 {
  border-left: 4px solid #546e7a;
  border-top: 2px solid #546e7a;
}

.bracket-region__right .link1to9,
.bracket-region__right .link3to10,
.bracket-region__right .link5to11,
.bracket-region__right .link7to12,
.bracket-region__right .link9to13,
.bracket-region__right .link11to14,
.bracket-region__right .link13to15 {
  border-right: 4px solid #546e7a;
  border-bottom: 2px solid #546e7a;
}

.bracket-region__right .link2to9,
.bracket-region__right .link4to10,
.bracket-region__right .link6to11,
.bracket-region__right .link8to12,
.bracket-region__right .link10to13,
.bracket-region__right .link12to14,
.bracket-region__right .link14to15 {
  border-right: 4px solid #546e7a;
  border-top: 2px solid #546e7a;
}

.final-four {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr 8fr 8fr 1fr 8fr;
  grid-template-rows: 1.75fr repeat(8, 1fr);
  grid-template-areas:
    'region region region region region region region'
    'round5 . . championship . . round5-2'
    'region1 . . . . . region3'
    '. link1 . . . link2 .'
    '. link1 semi1 champion semi2 link2 .'
    '. link4 . champion . link3 .'
    '. link4 . . . link3 .'
    'region2 . . . . . region4';
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  font-size: 0.8rem;
}
.round5 {
  grid-area: round5;
}
.round5-2 {
  grid-area: round5-2;
}
.championship {
  grid-area: championship;
}
.region1 {
  grid-area: region1;
  border-bottom: 4px solid #546e7a;
  align-self: end;
}
.region2 {
  grid-area: region2;
  border-top: 4px solid #546e7a;
}
.region3 {
  grid-area: region3;
  border-bottom: 4px solid #546e7a;
  align-self: end;
}
.region4 {
  grid-area: region4;
  border-top: 4px solid #546e7a;
}
.semi1 {
  grid-area: semi1;
  border-bottom: 4px solid #546e7a;
  align-self: end;
}
.semi2 {
  grid-area: semi2;
  border-bottom: 4px solid #546e7a;
  align-self: end;
}
.champion {
  grid-area: champion;
  border: 4px solid #546e7a;
  align-self: center;
}
.link1 {
  grid-area: link1;
  border-bottom: 4px solid #546e7a;
  border-left: 4px solid #546e7a;
}
.link2 {
  grid-area: link2;
  border-bottom: 4px solid #546e7a;
  border-right: 4px solid #546e7a;
}
.link3 {
  grid-area: link3;
  border-right: 4px solid #546e7a;
}
.link4 {
  grid-area: link4;
  border-left: 4px solid #546e7a;
}
.winner {
  color: green !important;
}
.loser {
  color: red !important;
}

.region,
.round1,
.round2,
.round3,
.round4 {
  text-align: center;
}